body{
  background-color: darkgrey;
}
h1 {
  color: #636AEC;
  font-size: 45px;
  margin-left: 27px;
}
h3{
    font-size: 25px;
  }
h4{
  font-size: 22px;
}
h5{
  font-size : 25px;
}
h6{
  font-size : 35px;
  color: white;
}
h7{
  font-size: 15px;
}
.homescreen{
  display:flex;
  flex-flow: column nowrap;
  justify-context: center;
  align-items:center;
}
.lookaround{
  display:flex;
  flex-flow: column nowrap;
  justify-context: center;
  align-items:center;
}
.startscreen{
  display:flex;
  flex-flow: column nowrap;
  justify-context: center;
  align-items:center;
}
.logout{
  display:flex;
  flex-flow: column nowrap;
  justify-context: center;
  align-items:center;
}
.newpost{
  display:flex;
  flex-flow: column nowrap;
  justify-context: center;
  align-items:center;
}
.updateprof{
  display:flex;
  flex-flow: column nowrap;
  justify-context: center;
  align-items:center;
}
